
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Primary Colors
$primary-red: #A50034;
$primary-black: #231F20;
$primary-white: #FFFFFF;

// Secondary Colors
$secondary-pillar: #6E6259;
$secondary-sand: #DDCBA4;

// Tertiary Palette
$tertiary-grove: #00966C;
$tertiary-pacific: #009CA6;

$font-family-futra:  futura-pt, sans-serif;
$font-family-futra-condensed:  futura-pt, sans-serif;

