
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~bourbon-neat/core/neat';
@import "~bourbon/core/bourbon";
@import "~@carbon/charts/style.css";

// Carbon
@import "~carbon-components/scss/globals/grid/grid";

// Carbon grid
@import "~carbon-components/scss/components/text-area/text-area";
@import "~carbon-components/scss/components/text-input/text-input";
@import "~carbon-components/scss/components/notification/toast-notification";
@import "~carbon-components/scss/components/notification/inline-notification";
@import "~carbon-components/scss/components/form/form";
@import "~carbon-components/scss/components/radio-button/radio-button";
@import "~carbon-components/scss/components/button/button";
@import "~carbon-components/scss/components/checkbox/checkbox";
@import "~carbon-components/scss/components/link/link";
@import "~carbon-components/scss/components/accordion/accordion";
@import "~carbon-components/scss/components/structured-list/structured-list";
@import "~carbon-components/scss/components/data-table/data-table";
@import "~carbon-components/scss/components/overflow-menu/overflow-menu";
@import "~carbon-components/scss/components/search/search";


// Bulma
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/helpers";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

@import "divider";
@import "radio_button_extra";
@import "ear_mark";

.qz--form__helper-text-disable-max-width{
  max-width: none;
}

.qz-login-form .bx--form-item, .qz-login-form .bx--form-item {
  margin-bottom: 1rem;
}

.bx--radio-button-group--vertical.bx--radio-button-group--vertical-left{
  align-items: baseline;
}

  // other
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

