
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";
@import "divider";

// Carbon
@import "~carbon-components/scss/components/text-area/text-area";
@import "~carbon-components/scss/components/form/form";
@import "~carbon-components/scss/components/radio-button/radio-button";

.bx--radio-button-group--vertical.bx--radio-button-group--vertical-left{
  align-items: baseline;
}



  // other
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

