@import "bootstrap";

// app scss
@import "divider";
@import "radio_button_extra";
@import "ear_mark";
@import "~bulma-helpers/bulma-helpers";

.qz--form__helper-text-disable-max-width{
  max-width: none;
}

.qz-login-form .bx--form-item, .qz-login-form .bx--form-item {
  margin-bottom: 1rem;
}

.bx--radio-button-group--vertical.bx--radio-button-group--vertical-left{
  align-items: baseline;
}

  // other
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

