{% extends 'layout/base.html.twig' %}

{% block head %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <app></app>
    </div>
    {{ encore_entry_script_tags('app') }}
{% endblock %}