{% extends 'layout/base.html.twig' %}

{% block head %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <app></app>
    </div>
    {{ encore_entry_script_tags('app') }}
{% endblock %}